// Mixins Here
.button-signUp {
    width: 108px;
    background: @btn-bg-color;
    border-radius: 5px;
    color: @border-real;
    font-size: 1.5rem;
    padding: 8px 28px;

    &:hover {
        background: green;
        color:black;
    }

    @media @mobile{
        width: 100%;
        text-align: center;
        padding:25px 0;
        margin-bottom: 20px;
    }
}